section {
    margin: 20px;
}
button {
    margin: 10px;
}
section > div {
    margin: 3rerm;
}

mat-sidenav-container {
    height: 300px;
}
mat-sidenav-content, mat-sidenav {
    padding: 16px;
}
mat-sidenav {
    background-color: coral;
    width: 200px;
}